Kj&aelig;re skribrent,

Dette er et system varsel som skal informere deg om at en bruker har kommentert en artikkel. Du kan se detaljene under,

===========================================================================
Artikkel tittel: %CONTENTTITLE%
===========================================================================

Kommentar tittel: %COMMENTTITLE%

Kommentar:
%COMMENT%

===========================================================================

[Laget av Jom Comment]