Kj&aelig;re bruker,

F&oslash;lgende melding trenger din godkjenelse. Du kan godkjenne den i administrasjonen eller bruke linkene under. Linkene g&aring;r ut om syv dager.

For &aring; publisere kommentaren:
%PUBLISH%

For &aring; avpublisere kommentaren:
%UNPUBLISH%

For &aring; slette kommentaren:
%DELETE%


===========================================================================
Tittel: %CONTENTTITLE%
===========================================================================

Tittel: %COMMENTTITLE%
Skribrent: %NAME%
E-post: %EMAIL%
Link til artikkelen: %LINK%

Kommentar:
%COMMENT%

===========================================================================

[Laget av Jom Comment]