<div id="jcshareDiv">
	<ul>
		<li><a target="_blank" href="http://www.facebook.com/sharer.php?u=<?php echo $uri;?>&amp;t=<?php echo $title;?>" id="bm_facebook">Facebook</a></li>
		<li><a target="_blank" href="http://del.icio.us/post?<?php echo $uri;?>&amp;title=<?php echo $title;?>" id="bm_delicious">del.icio.us</a></li>
		<li><a target="_blank" href="http://digg.com/submit?phase=2&amp;url=<?php echo $uri;?>&amp;title=<?php echo $title;?>" id="bm_digg">Digg</a></li>
		<li><a target="_blank" href="http://furl.net/storeIt.jsp?u=<?php echo $uri;?>&amp;t=<?php echo $title;?>" id="bm_furl">Furl</a></li>
		<li><a target="_blank" href="http://myweb2.search.yahoo.com/myresults/bookmarklet?u=<?php echo $uri;?>&amp;t=<?php echo $title;?>" id="bm_yahoo_myweb">Yahoo! My Web</a></li>
		<li><a target="_blank" href="http://www.stumbleupon.com/submit?url=<?php echo $uri;?>&amp;title=<?php echo $title;?>" id="bm_stumbleupon">StumbleUpon</a></li>
		<li><a target="_blank" href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=<?php echo $uri;?>&amp;title=<?php echo $title;?>" id="bm_google_bmarks">Google Bokmerker</a></li>
		<li><a target="_blank" href="http://www.technorati.com/faves?add=<?php echo $uri;?>" id="bm_technorati">Technorati</a></li>
		<li><a target="_blank" href="http://reddit.com/submit?url=<?php echo $uri;?>&amp;title=<?php echo $title;?>" id="bm_reddit">reddit</a></li>
	</ul>
</div>
<div class="clear" style="clear:both;z-order:100">