Kj&aelig;re bruker,

Dette er et varsel som skal informere deg om at en bruker akkurat har postet et blogg innlegg. Du kan publisere det fra administrasjonen, eller bare bruke linkene under til det.

For &aring; avpublisere innlegget:
%UNPUBLISH%

For %aring; slette innlegget:
%DELETE%


===========================================================================
Skribrent: %AUTHOR%
Blogg tittel: %TITLE%
===========================================================================
Innlegg:

%ENTRY%
===========================================================================

[Laget av My Blog]